/* @owner TODO */
/**
 * @file  {{filename}} 
 * @brief TODO.
 *
 */

#include "fff.h"

{{# includes}}
#include "{{include}}" {{newline}}
{{/ includes}}

DEFINE_FFF_GLOBALS;


/**
 * MOCKED FUNCTIONS BEGIN
 */

{{# mocks}}
{{definition}}
{{newline}}
{{/ mocks}}

/**
 * MOCKED FUNCTIONS END
 */
