/* @owner TODO */
/**
 * @file  {{filename}} 
 * @brief TODO.
 *
 */


extern "C"{
{{# includes}}
#include "{{include}}" {{newline}}
{{/ includes}}
}


{{# functionParamsStructs}}
/**
 *  structure for {{functionName}} arguments
 *  file {{functionFileName}}
 */
typedef struct {   
{{paramTypesAndNames}}   
} {{functionName}}_params;
{{newline}}
{{newline}}
{{/ functionParamsStructs}}


